# Para acceder al paquete de python en el terminal hay que poner pip (en vez de npm)
# * pip install -r requirements.txt
# Para abrir la terminal: python app.py y así ejecutará la aplicación y nos dará la ruta

flask
flask_cors
supabase

